{% extends "base.html" %}
{% block title %}
moderate
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="../static/style/level.css">
<div class="container">
    <h1>Moderate Depression Level</h1>
    <hr>

    <h3>Description</h3>
    <p>
        You may be experiencing early symptoms of depression, such as low energy, lack of motivation, and Moderate sadness. Implementing self-help strategies can improve your mood and prevent worsening symptoms.
    </p>
    <hr>

    <h3>Signs of Moderate Depression</h3>
    <div>
        <li>Feeling down or unmotivated.</li>
        <li>Reduced interest in hobbies and activities.</li>
        <li>Fatigue or changes in sleep patterns.</li>
        <li>Difficulty concentrating.</li>
    </div>
    <hr>

    <h3>Self-Help Strategies</h3>
    <div>
        <li>Maintain a structured daily routine.</li>
        <li>Engage in activities that bring joy and relaxation.</li>
        <li>Connect with loved ones for emotional support.</li>
        <li>Try journaling to process emotions and thoughts.</li>
        <li>Seek professional guidance if symptoms persist.</li>
    </div>
    <hr>
</div>
{% endblock %}
