{% extends "base.html" %}
{% block title %}
mild
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="../static/style/level.css">
<div class="container">
    <h1>mild Depression Level</h1>
    <hr>

    <h3>Description</h3>
    <p>
        You may be experiencing mild stress, which can affect your mood and daily activities. While it’s not severe, taking proactive steps to manage stress can prevent further mental health challenges.
    </p>
    <hr>

    <h3>Common Causes of Stress</h3>
    <div>
        <li>Work or academic pressure.</li>
        <li>Financial concerns.</li>
        <li>Relationship issues.</li>
        <li>Health-related worries.</li>
        <li>Lack of rest and relaxation.</li>
    </div>
    <hr>

    <h3>Stress Management Techniques</h3>
    <div>
        <li>Practice deep breathing and meditation.</li>
        <li>Engage in regular exercise, such as walking or yoga.</li>
        <li>Maintain a work-life balance.</li>
        <li>Spend time with supportive friends and family.</li>
        <li>Engage in hobbies that bring relaxation and joy.</li>
    </div>
    <hr>
</div>
{% endblock %}
