{% extends "base.html" %}
{% block title %}
minimum
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="../static/style/level.css">
<div class="container">
    <h1>Minimum Depression Level</h1>
    <hr>

    <h3>Description</h3>
    <p>
        You are mentally well and show no significant signs of depression. Maintaining a balanced lifestyle, including proper nutrition, exercise, and social engagement, can help sustain your mental well-being.
    </p>
    <hr>

    <h3>Causes of Good Mental Health</h3>
    <div>
        <li>Healthy relationships and strong social connections.</li>
        <li>Regular exercise and physical activity.</li>
        <li>A nutritious and well-balanced diet.</li>
        <li>Effective stress management techniques.</li>
    </div>
    <hr>

    <h3>Recommendations</h3>
    <div>
        <li>Continue engaging in activities that bring you joy and fulfillment.</li>
        <li>Maintain a healthy sleep schedule and diet.</li>
        <li>Practice mindfulness and gratitude.</li>
        <li>Encourage positive social interactions.</li>
    </div>
    <hr>
</div>
{% endblock %}
