{% extends "base.html" %}

{% block title %}
    Happy Diary
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="../static/style/welcome.css">
    <br><br><br><br><br>

    {% if user.is_authenticated %}
        <h1>Hello {{user.first_name}}</h1>
        <h2>Welcome To Happy Diary</h2>
        <br><br>

        <p>
            This project is a web-based diary application designed to generate image captions and analyze them alongside diary entries to assess depression levels.<br>
            The system classifies depression into four stages: <br> <strong>Minimum</strong>, <strong>Mild</strong>, <strong>Moderate</strong> and <strong>Severe</strong> <br>
            Additionally, the system provides recommendations based on depression levels to support users' mental well-being.
        </p>
        <br><br><br>

    {% else %}
        <h1>Welcome To Happy Diary</h1>
        <br><br>
        <p>
            This project is a web-based diary application designed to generate image captions and analyze them alongside diary entries to assess depression levels.<br>
            The system classifies depression into four stages: <br> <strong>Minimum</strong>, <strong>Mild</strong>, <strong>Moderate</strong> and <strong>Severe</strong> <br> 

            Additionally, the system provides recommendations based on depression levels <br> to support users' mental well-being.
        </p>

        <br><br><br>

        <div class="btn-container">
            <a href="/login" class="btn">Login</a>
            <a href="/sign-up" class="btn">Sign Up</a>
        </div>
    {% endif %}
{% endblock %}
